
<ons-navigator var="Navigator"> 
  <ons-page ng-controller="AcercaCtrl" class="about">
    <ons-toolbar>
      <!--.left: ons-toolbar-button(ng-click="menu.toggleMenu()"): ons-icon(icon="ion-navicon")-->
      <div class="center">Acerca de JagerGin</div>
      <!--.right: +toolbar-right-->
    </ons-toolbar>
    <ons-row>
      <ons-col>
        <div class="mainLogo"><img src="app/img/jagergin.svg" alt=""/></div>
      </ons-col>
    </ons-row>
    <ons-row>
      <ons-col>&nbsp;</ons-col>
      <ons-col width="80%">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla totam deleniti voluptatum quidem iure aut suscipit et necessitatibus perspiciatis ea unde dolor, nobis, similique id ducimus, magnam! Aut quos, ducimus.</p>
        <div class="tac">
          <p>correo@jagergin.com</p>
          <p>(55) 5535 - 5262</p>
        </div>
        <div class="social"><a href="#" class="fa fa-facebook"></a><a href="#" class="fa fa-twitter"></a></div>
      </ons-col>
      <ons-col>&nbsp;</ons-col>
    </ons-row>
    <div class="wavesContainer">
      <ul class="waves">
        <!--li.layer(data-depth="1.0"): img(src="app/img/wave_ice.png").t-->
        <li data-depth="0.9" class="layer"><img src="app/img/wave_3.png" class="w"/></li>
        <li data-depth="0.5" class="layer"><img src="app/img/wave_1.png" class="w"/></li>
        <li data-depth="0.7" class="layer"><img src="app/img/wave_2.png" class="w"/></li>
      </ul>
    </div>
  </ons-page>
</ons-navigator>