include mixins

ons-page(ng-controller="BusquedaCtrl")
  ons-toolbar
    .left: ons-back-button Atras
    .center Buscar
    .right: +cartBtn
  
  ons-row
    ons-col.searchBar
      input(type="text", placeholder="Buscar producto", ng-model="search").search-input
      ons-button(ng-click="buscarProducto()"): ons-icon(icon="ion-search")
      

  ons-row.productsList
    ons-col
      ons-list
        ons-list-item(ng-repeat="prod in products | orderBy:'name'").product
          ons-row
            ons-col(width="70px"): .thumb: img(ng-src="http://dbo.space/jagergin/cms/api/imageFiles/{{prod.refId}}.jpg", alt="")
            ons-col
              .name {{prod.name}}
              .description {{prod.description}} | {{ prod.categoryName }}
              .price 
                span.qtyTxt {{prod.quantity}}x  
                span {{prod.new_price * prod.quantity | currency}}
            
            ons-col(ng-hide="InCart(prod.refId)", width="50px")
              select(ng-model="prod.quantity", ng-options="ct for ct in cantidades track by ct").selectQty
            ons-col(width="70px", ng-hide="InCart(prod.refId)").cartBtn: ons-button(ng-click="addToCart(prod)"): ons-icon(icon="ion-ios-cart-outline")
            ons-col(width="70px", ng-show="InCart(prod.refId)").cartBtn: ons-button.isInCart: ons-icon(icon="ion-ios-checkmark-empty")
          
