
<ons-page ng-controller="CheckoutCtrl" class="Cart">
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Atras</ons-back-button>
    </div>
    <div class="center">Checkout</div>
    <div class="right">&nbsp;</div>
  </ons-toolbar>
  <!--ons-bottom-toolbar.navigation-bar
  .left.navigation-bar__left
  .center.navigation-bar__title.amount.navigation-bar__center.totalAmount 
  .right.navigation-bar__right
    ons-toolbar-button.payBtn
      ons-icon(icon="ion-bag")
      |  Pagar
      
  -->
  <ons-row>
    <ons-col class="instrucciones">Asigna el lugar donde será tu entrega. Recuerda que debe estar dentro de la zona JagerGin.</ons-col>
  </ons-row>
  <ons-row>
    <ons-col>
      <div class="notesAboutIntroMap"><img ng-src="app/img/icon_marker.png"/><span ng-show="isInZone">Estas en la zona JagerGin</span><span ng-hide="isInZone" ng-class=" {'notIn':!isInZone} ">No estas en la zona JagerGin</span></div>
      <!--.notesAboutZonaJagergin
      .zona
      span Zona JagerGin
      -->
      <ui-gmap-google-map control="map.control" center="map.center" zoom="map.zoom" events="map.events" options="map.options">
        <ui-gmap-polygon static="true" ng-repeat="p in polygons track by p.id" path="p.path" stroke="p.stroke" visible="p.visible" geodesic="p.geodesic" fill="p.fill" fit="false"></ui-gmap-polygon>
      </ui-gmap-google-map>
    </ons-col>
  </ons-row>
  <ons-row ng-hide="isInZone">
    <ons-col class="instrucciones instruccionesBig">Lamentablemente la ubicación de tu fiesta no se encuentra dentro de nuestra zona de entrega.</ons-col>
  </ons-row>
  <ons-row ng-show="isInZone">
    <ons-col>
      <form>
        <input type="text" placeholder="Dirección" ng-model="order.address_general" class="address"/>
        <input type="text" placeholder="Nº Interior, Departamento, Color, etc." ng-model="order.address_interior"/>
        <input type="text" placeholder="Referencias de la ubicación" ng-model="order.address_referencias"/>
        <input type="text" placeholder="Notas" ng-model="order.notes"/>
        <ons-row ng-hide="order.entrega_inmediata">
          <ons-col></ons-col>
          <ons-col width="80%">
            <label>Selecciona la hora de entrega</label>
            <input type="time" placeholder="hr:min" pattern="^[0-1]?[0-9]]" ng-model="order.entrega_hora"/>
          </ons-col>
          <ons-col></ons-col>
        </ons-row>
        <ons-row>
          <ons-col></ons-col>
          <ons-col width="80%">
            <label>
              <ons-switch var="inmediatoBtn" ng-model="order.entrega_inmediata" checked="checked"></ons-switch>¿Entrega inmediata?
            </label>
          </ons-col>
        </ons-row>
      </form>
    </ons-col>
  </ons-row>
  <div ng-show="isInZone" class="checkoutAmount">
    <ons-row>
      <ons-col class="totalAmountCheckout">{{ order.total_amount | currency }}</ons-col>
    </ons-row>
    <ons-row>
      <ons-col></ons-col>
      <ons-col width="80%">
        <ons-button ng-click="pay()" modifier="large--cta"><i class="fa fa-paypal"> </i>Pagar</ons-button>
      </ons-col>
      <ons-col></ons-col>
    </ons-row>
  </div>
</ons-page>