
<ons-navigator var="Navigator"> 
  <ons-page ng-controller="CuentaCtrl" class="account">
    <ons-toolbar>
      <!--.left: ons-toolbar-button(ng-click="menu.toggleMenu()"): ons-icon(icon="ion-navicon")-->
      <div class="center">Tu cuenta</div>
      <div class="right">
        <ons-toolbar-button ng-click="Navigator.pushPage('app/view/busqueda.html')">
          <ons-icon icon="ion-android-search"></ons-icon>
        </ons-toolbar-button>
        <!--ons-toolbar-button(ng-click="menu.setMainPage('app/view/carrito.html')"): ons-icon(icon="ion-ios-cart-outline", ng-class="{'active-cart': cartCount > 0}", data="{{cartCount}}")-->
        <ons-toolbar-button ng-click="Navigator.pushPage('app/view/carrito.html')">
          <ons-icon icon="ion-ios-cart-outline" ng-class="{'active-cart': cartCount &gt; 0}" data="{{cartCount}}"></ons-icon>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <div ng-hide="loggedin" class="signIn">
      <ons-row ng-show="choose">
        <ons-col></ons-col>
        <ons-col>
          <div class="logo"><img src="app/img/jagergin.svg" alt=""/></div>
          <p>¡Que la fiesta nunca termine!</p>
          <div class="buttons">
            <ons-button ng-click="signUpForm=true; choose=false;" class="signupBtn">Regístrate</ons-button>
            <ons-button ng-click="signInForm=true; choose=false;" class="signInBtn">¿Ya tienes cuenta?</ons-button>
          </div>
        </ons-col>
        <ons-col></ons-col>
      </ons-row>
      <ons-row ng-show="signUpForm" class="signUpArea">
        <ons-col></ons-col>
        <ons-col>
          <div class="fa fa-facebook"></div><br/>
          <ons-button ng-click="helloLogin('facebook')" class="facebookIn">Ingresar con Facebook</ons-button><br/>
          <div class="fa fa-google-plus"></div><br/>
          <ons-button ng-click="helloLogin('google')" class="googleIn">Ingresar con Google+ </ons-button>
          <p>- o - </p>
          <form>
            <input type="email" ng-model="signin.email" placeholder="Correo electrónico" ng-blur="checkEmail()" ng-change="validator()" class="text-input text-input--underbar"/>
            <label ng-show="errorUsuario" class="errorUsuario">{{ errorUsuario }}</label>
            <input type="text" ng-model="signin.name" placeholder="Nombre" ng-change="validator()" class="text-input text-input--underbar"/>
            <input type="tel" ng-model="signin.tel" placeholder="Teléfono móvil" ng-change="validator()" class="text-input text-input--underbar"/>
            <input type="password" ng-model="signin.password" placeholder="Contraseña" ng-change="validator()" class="text-input text-input--underbar"/>
            <input type="password" ng-model="signin.password2" placeholder="Confirmar contraseña" ng-change="validator()" class="text-input text-input--underbar"/>
            <label ng-show="errorPass" class="errorUsuario">{{ errorPass }}</label>
            <ons-button ng-click="signup()" ng-show="allValid" class="signInBtn">Crear cuenta</ons-button>
            <p class="terms">Al crear una cuenta aceptas los <a ng-click="">Términos de servicio.</a></p><a ng-click="signInForm=true; signUpForm=false;" class="cancelar">¿Ya tienes cuenta?  </a>
          </form>
        </ons-col>
        <ons-col></ons-col>
      </ons-row>
      <ons-row ng-show="signInForm" class="signInArea">
        <ons-col></ons-col>
        <ons-col>
          <div class="fa fa-facebook"></div><br/>
          <ons-button ng-click="helloLogin('facebook')" class="facebookIn">Ingresar con Facebook</ons-button><br/>
          <div class="fa fa-google-plus"></div><br/>
          <ons-button ng-click="helloLogin('google')" class="googleIn">Ingresar con Google+ </ons-button>
          <p>- o - </p>
          <form>
            <input type="email" ng-model="loggingIn.email" placeholder="Correo electrónico" class="text-input text-input--underbar"/>
            <input type="password" ng-model="loggingIn.password" placeholder="Contraseña" class="text-input text-input--underbar"/>
            <label ng-show="errorLogin" class="errorUsuario">{{ errorLogin }}</label><br/>
            <ons-button ng-click="login()" class="signInBtn">Ingresar</ons-button><a ng-click="signInForm=false; signUpForm=true;" class="cancelar">Crear una cuenta</a>
          </form>
        </ons-col>
        <ons-col></ons-col>
      </ons-row>
    </div>
    <div ng-show="loggedin">
      <ons-row class="profile">
        <ons-col>
          <div ng-click="editarPerfil()" class="profileEditBtn">
            <ons-icon icon="ion-edit"></ons-icon>
          </div>
          <div class="profileImage"><img ng-src="http://dbo.space/jagergin/cms/api/userFiles/{{userApp.id}}.jpg" alt=""/></div>
          <div class="profileName">{{userApp.name}}</div>
          <div class="profileMail">{{userApp.email}}</div>
          <div class="profileCel">{{userApp.tel}}</div>
        </ons-col>
      </ons-row>
      <div class="historial">
        <ons-row>
          <ons-col class="instrucciones">Desliza a la derecha para ver tu historial de compras</ons-col>
        </ons-row>
        <ons-row>
          <ons-col></ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-carousel style="height:290px; width:100%;" swipeable="swipeable" overscrollable="overscrollable" auto-scroll="auto-scroll" auto-refresh="auto-refresh">
              <ons-carousel-item ng-repeat="orden in historial | orderBy: 'id':true ">
                <div class="pedido">
                  <ons-row>
                    <ons-col>
                      <div class="num">{{orden.code}}</div>
                    </ons-col>
                    <ons-col>
                      <div class="fecha">{{orden.date_time | date}}</div>
                    </ons-col>
                  </ons-row>
                  <ons-row>
                    <div class="detalles">
                      <div ng-repeat="itm in orden.items "><span>{{itm.product_name}} </span><span>| x{{itm.product_quantity}}</span></div>
                    </div>
                  </ons-row>
                  <ons-row>
                    <ons-col>
                      <div class="total">{{orden.total_amount | currency}}</div>
                    </ons-col>
                    <ons-col>
                      <div ng-hide="orden.entregado == '0' " class="estado entregado">Entregado</div>
                      <div ng-hide="orden.entregado == '1'" class="estado">Por entregar</div>
                    </ons-col>
                  </ons-row>
                </div>
              </ons-carousel-item>
            </ons-carousel>
          </ons-col>
        </ons-row>
      </div>
    </div>
    <div class="wavesContainer">
      <ul class="waves">
        <!--li.layer(data-depth="1.0"): img(src="app/img/wave_ice.png").t-->
        <li data-depth="0.9" class="layer"><img src="app/img/wave_3.png" class="w"/></li>
        <li data-depth="0.5" class="layer"><img src="app/img/wave_1.png" class="w"/></li>
        <li data-depth="0.7" class="layer"><img src="app/img/wave_2.png" class="w"/></li>
      </ul>
    </div>
  </ons-page>
  <ons-template id="editProfile.html">
    <ons-dialog var="editProfileDialog" ng-controller="CuentaCtrl">
      <ons-toolbar inline="inline">
        <div class="center">Edita tu perfil</div>
      </ons-toolbar>
      <p>
        <input type="text" ng-model="userEdit.name" placeholder="Nombre" class="text-input"/>
      </p>
      <p>
        <input type="email" ng-model="userEdit.email" placeholder="Correo electrónico" class="text-input"/>
      </p>
      <p>
        <input type="text" ng-model="userEdit.tel" placeholder="Teléfono móvil" class="text-input"/>
      </p>
      <p>
        <ons-button modifier="" ng-click="cancelUpdatePerfil(); editProfileDialog.hide()">Cancelar</ons-button>
        <ons-button modifier="" ng-click="actualizarPerfil(); editProfileDialog.hide()">Guardar</ons-button>
      </p>
    </ons-dialog>
  </ons-template>
</ons-navigator>