
<ons-page ng-controller="PortadaCtrl" class="portada">
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Regresar</ons-back-button>
    </div>
    <div class="center"><img src="app/img/jagergin_typo.svg" class="centralLogo"/></div>
    <div class="right">
      <ons-toolbar-button>
        <ons-icon icon="ion-android-search"></ons-icon>
      </ons-toolbar-button>
      <ons-toolbar-button>
        <ons-icon icon="ion-ios-cart-outline"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <slick infinit="true" lazy-load="ondemand" autoplay="true" arrows="false" class="portadaSlider">
    <div><img src="app/img/promo1.jpg" alt=""/></div>
    <div><img src="app/img/promo2.jpg" alt=""/></div>
  </slick>
  <div class="categoriesGrid">
    <ons-row class="categories">
      <ons-col ng-repeat="cat in categoriesList" ng-click="categoryOpen(cat.id, cat.description)" ng-show="cat.description==subcats" width="50%">
        <div class="tb">
          <div class="cell">{{cat.name}}</div>
        </div>
      </ons-col>
    </ons-row>
  </div>
</ons-page>