include mixins

ons-navigator(var="Navigator") 
  ons-page(ng-controller="PortadaCtrl").portada
    ons-toolbar
      //.left: ons-toolbar-button(ng-click="menu.toggleMenu()"): ons-icon(icon="ion-navicon")
      //.center: img(src="app/img/jagergin_typo.svg").centralLogo
      .right: +toolbar-right

    +mainSlider

    ons-row(ng-click="scrollBottom()")
      ons-col.primaryPhrase Haz tu pedido
    ons-row(ng-click="scrollBottom()")
      ons-col.bottomArrow: ons-icon(icon="ion-chevron-down")
      
    .categoriesGrid#thebottom
      ons-row.categories
        ons-col(ng-repeat="cat in categoriesList | filter : { description : 0 } | orderBy: 'order'", ng-click="categoryOpen(cat.id, cat.name, cat.parent);", width="31%"): .tb: .cell
          .icon: svg-snap(path="app/img/icon_{{ rSpace(cat.name) }}.svg")
          .text {{cat.name}}
    +bottomwaves
          
    
    .zonaJagergin(ng-hide="zona")
      ons-row: ons-col.inst
        h2 Zona de cobertura JagerGin
        p Podemos entregar tu pedido si tu fiesta esta dentro de la zona marcada.
      ons-row: ons-col
          .notesAboutIntroMap
            img(ng-src="app/img/icon_marker.png")
            span(ng-show="isInZone") Estas en la zona JagerGin
            span(ng-hide="isInZone") No estas en la zona JagerGin
          //.notesAboutZonaJagergin
            .zona
            span Zona JagerGin
          ui-gmap-google-map(control="map.control", options="map.options", center='map.center', zoom='map.zoom', events="map.events")
            ui-gmap-polygon(ng-repeat="p in polygons track by p.id", path="p.path", stroke="p.stroke", fill="p.fill")
            ui-gmap-marker(ng-repeat="m in marker track by m.id", coords="m.coords", options="m.options", idkey="m.id")

            //ui-gmap-polyline(ng-repeat="p in polygons track by p.id", path="p.path", stroke="p.stroke", editable="true", draggable="true" , geodesic="true")

      ons-button(ng-click="okZone()", ng-show="isInZone") Aceptar
      ons-button(ng-click="okZone()", ng-hide="isInZone") Mi fiesta es en otro lugar.
      
