include mixins

ons-page(ng-controller="ProductosCtrl")
  ons-toolbar
    .left: ons-back-button Atras
    .center {{categoryName}}
    .right: +toolbar-right

  ons-row.selectionMode(style="background-image: url( app/img/header_{{ rSpace(categoryName) }}.jpg )") 
    ons-col &nbsp;
  //ons-row: ons-col.selectionModeBtn
      .button-bar
        .button-bar__item
          input(type="radio", name="vista", ng-checked="!grid", ng-click="grid=false")
          button.button-bar__button: ons-icon(icon="fa-list-ul")
        .button-bar__item
          input(type="radio", name="vista", ng-checked="grid", ng-click="grid=true")
          button.button-bar__button: ons-icon(icon="fa-th-large")


  ons-row.productsList(ng-show="!grid")
    ons-col
      ons-list
        ons-list-item(ng-repeat="prod in products | orderBy:'name'").product
          ons-row
            ons-col(width="70px"): .thumb: img(ng-src="http://dbo.space/jagergin/cms/api/imageFiles/{{prod.refId}}.jpg", alt="")
            ons-col
              .name {{ prod.name =  prod.name.replace(categoryName, '') }}
              .description {{prod.description}}
              .price
                span.qtyTxt {{prod.quantity}}x  
                span {{prod.new_price * prod.quantity | currency}}
            
            
            ons-col(ng-hide="InCart(prod.refId)", width="50px")
              select(ng-change="prod.quantity=prod.quantitySelect", ng-model="prod.quantitySelect", ng-init="prod.quantitySelect=1", ng-options="ct for ct in cantidades").selectQty


            //ons-col(ng-hide="InCart(prod.refId)", width="20px").tac
              ons-icon(icon="ion-android-add", ng-click="prod.quantity = (prod.quantity*1)+1").qtyButtons.listQty  
              ons-icon(icon="ion-android-remove", ng-show="prod.quantity>1" ng-click="prod.quantity = (prod.quantity*1)-1", ng-class="{'eliminate' : cartItems[$index].quantity == 1}").qtyButtons.listQty
              
            ons-col(width="70px", ng-hide="InCart(prod.refId)").cartBtn: ons-button(ng-click="addToCart(prod)"): ons-icon(icon="ion-ios-cart-outline")
            ons-col(width="70px", ng-show="InCart(prod.refId)").cartBtn: ons-button.isInCart: ons-icon(icon="ion-ios-checkmark-empty")

  ons-row.productsGrid(ng-show="grid")
    ons-col(ng-repeat="prod in products | orderBy:'name'", width="46%").product
          ons-row
            .bigthumb: img(ng-src="http://dbo.space/jagergin/cms/api/imageFiles/{{prod.refId}}.jpg", alt="")
            .name {{prod.name}}
            ons-row
              ons-col: .description {{prod.description}}
              ons-col.tar
                span.qtyTxt {{prod.quantity}}x  
                span.price {{prod.new_price * prod.quantity | currency}}
            ons-row
              //ons-col(ng-hide="InCart(prod.refId)").tac
                ons-icon(icon="ion-android-remove", ng-show="prod.quantity>1" ng-click="prod.quantity = (prod.quantity*1)-1", ng-class="{'eliminate' : cartItems[$index].quantity == 1}").qtyButtons
                ons-icon(icon="ion-android-add", ng-click="prod.quantity = (prod.quantity*1)+1").qtyButtons
              ons-col(ng-hide="InCart(prod.refId)", width="50px")
                select(ng-change="prod.quantity=prod.quantitySelect", ng-model="prod.quantitySelect", ng-init="prod.quantitySelect=1", ng-options="ct for ct in cantidades").selectQty.selectQtyGrid
              ons-col
                .cartBtn(ng-hide="InCart(prod.refId)"): ons-button(ng-click="addToCart(prod)"): ons-icon(icon="ion-ios-cart-outline")
                .cartBtn(ng-show="InCart(prod.refId)"): ons-button.isInCart: ons-icon(icon="ion-ios-checkmark-empty")

  +bottomwaves
