include mixins

ons-page(ng-controller="PortadaCtrl").portada.sub
  ons-toolbar
    .left: ons-back-button Atras
    //.center: img(src="app/img/jagergin_typo.svg").centralLogo
    .right: +toolbar-right

  ons-row
    ons-col.subheaderimg.subcat
  
  .categoriesGrid
    ons-row.categories
      ons-col(ng-repeat="cat in categoriesList | filter : { description : '!0' } | orderBy:'name' ", ng-click="categoryOpen(cat.id, cat.name)", width="50%").subcats: .tb: .cell 
        .text
          svg-snap(path="app/img/icon_{{ rSpace(cat.name) }}.svg", class="icon_{{ rSpace(cat.name) }}")
          span {{cat.name}}
        
  +bottomwaves
